name: "unit test"

on: push

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node: [18, 20, 22]
        webpack: [3, 4, 5]
    env:
      WEBPACK_VERSION: ${{ matrix.webpack }}
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Checkout PR branch
        uses: actions/checkout@v1
      - run: npm install
      - run: bin/ci-install.sh
      - run: npm test

