name: "unit test"

on: push

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: [10, 12, 14]
        webpack: [3, 4, 5]
    steps:
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Checkout PR branch
        uses: actions/checkout@v1
      - run: bin/ci-install.sh
        env:
          WEBPACK_VERSION: ${{ matrix.webpack }}
      - run: npm install --only=dev
      - run: npm test
